@media (min-width: 945px) {
    body .color-card-container {
      grid-template-columns: 1fr 1fr;
    }

    main {
        padding: 0.8rem 1.2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
      }
    main > section {
        width: 48%;
    }

    main section:last-child {
        width: 100%;
    }
      
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }